{% extends 'homepage/base.html' %}
{% block content %}
  <left>
    {% if searched %}
      {% if songs %}
        <h1> Songs </h1>
        <br/>
        {% for song in songs %}
          <a href="{% url 'warehouse:SongDetail' song.id %}">{{song.name}}</a> -
          {% for key, valuelist in artist_dict_song.items %}
            {% if key == song %}
              {% for artist in valuelist %}
                <td><a href="{% url 'warehouse:listsongbyartist' artist.id %}">{{artist}}</a></td>
              {% endfor %}

            {% endif %}
          {% endfor %}
          <br/>
        {% endfor %}

      {% endif %}


      {% if artists %}
      <br/>
      <h1> Artists </h1>

        {% for artist in artists %}
          <td><a href="{% url 'warehouse:listsongbyartist' artist.id %}">{{artist}}</a></td>
          <br/>
        {% endfor %}
      {% endif %}


      {% if albums %}
      <br/>
        <h1> Albums </h1>

        {% for album in albums %}
          <a href="{% url 'warehouse:listsongbyalbum' album.id %}">{{album.name}}  <br/>
        {% endfor %}
      {% endif %}
    {% else %}
      <h1> Your search for {{searched}} yielded no results </h1>
    {% endif %}


  </left>

{% endblock %}
