{% extends 'homepage/base.html' %}
{% block content %}

<h1>{{ album.name }}</h1>
<p>{{ signin_msg}} </p>
<p> Average rating of {{album.average_rating}} based on ratings from {{album.rating_count}} users</p>



<table>
  <thead>
    <tr style="text-align: center">
      <th> Song </th>
      <th> Artist </th>
      <th> Average Rating </th>
      <th> User Rating </th>
    </tr>
  </thead>
  <tbody>
      {% for song in all_song_list  %}
        <tr style="text-align: center">
          <td><a href="{% url 'warehouse:SongDetail' song.id %}">{{ song.name }}</a> </td>
          <td>{% for artist in song.artist.all %}
              <a href="{% url 'warehouse:listsongbyartist' artist.id %}">{{artist}}</a>
            {% endfor  %}</td>
          <td>{{song.average_rating}}</td>
          {% for key, value in rating_dict.items %}
            {% if key == song %}
          <td>{{value}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock content%}
