{% extends 'homepage/base.html' %}
{% block content %}

<h1>{{ artist.name }}
  {% if user.is_authenticated %}
  <form method='post'>
      {% csrf_token %}
      {% if artist in request.user.following.all %}
        <button class="btn btn-outline-danger" name='follow' value='unfollow' type="submit">
        Unfollow </button>
      {% else %}
        <button class="btn btn-outline-success" name='follow' value='follow' type="submit">
          Follow </button>  {% endif %}
  </form>
  {% endif %}
</h1>
<p>{{ signin_msg}} </p>
<p> Average rating of {{artist.average_rating}} based on ratings from {{artist.rating_count}} users </p>



<table class="table">
  <thead>
    <tr style="text-align: center">
      <th> Song </th>
      <th> Album </th>
      <th> Average Rating </th>
      <th> User Rating </th>
    </tr>
  </thead>
  <tbody>
      {% for song in all_song_list  %}
        <tr style="text-align: center">
          <td><a href="{% url 'warehouse:SongDetail' song.id %}">{{ song.name }}</a> </td>
          <td><a href="{% url 'warehouse:listsongbyalbum' song.album.id %}">{{song.album}}</a></td>
          <td>{{song.average_rating}}</td>
          {% for key, value in rating_dict.items %}
            {% if key == song %}
          <td>{{value}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock content%}
