{% extends 'homepage/base.html' %}
{% block content %}

<h1>{{ artist.name }}</h1>
<p>{{ signin_msg}} </p>


<table>
  <thead>
    <tr>
      <th> Song </th>
      <th> Album </th>
      <th> Average Rating </th>
      <th> User Rating </th>
    </tr>
  </thead>
  <tbody>
      {% for song in all_song_list  %}
        <tr style="text-align: center"}>
          <td><a href="{% url 'warehouse:SongDetail' song.id %}">{{ song.name }}</a> </td>
          <td>{{song.album}}</td>
          <td>{{song.average_rating}}</td>
          {% for key, value in rating_dict.items %}
            {% if key == song %}
          <td>{{value}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock content%}
